body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
header {
    height: 25%;
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
    text-align: center;

}

.btn.active, .btn:active {
    background-color: lightgray;
}
